<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*\.php)$ index.php?url=$1&%1 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule    ^(.*)$ $1  [NC,L]
#    RewriteRule    ^(.*\.(png|gif|jpg|html|jpeg|swf|js|pdf|css|ico))$ $1  [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1&%1 [QSA,L]
 </IfModule>
