[environment]
APP_ENV=dev

[app_values]
INST_URI=https://localhost/
SALT=8c4fb7bf681156b52fea93442c7dffc9
SITE_NAME="This is my site"

[db_settings]
DB_DRIVER=mysql
DB_HOST=localhost
DB_CHARSET=utf8
DB_DIALECT=2
DB_PORT=3306
DB_SCHEMA=schema
DB_USERNAME=user
DB_PASSWORD=P4ssword%
DB_UNIX_SOCKET=/tmp/mysql.sock